In [59]:
import pandas as pd

df = pd.read_csv('household_power_consumption.txt', sep = ";", na_values = '?', skip_blank_lines = True, dtype = {'Global_active_power' : 'float32', 'Global_reactive_power' : 'float32', 'Voltage' : 'float32', 'Global_intensity' : 'float32', 'Sub_metering_1' : 'float32', 'Sub_metering_2' : 'float32', 'Sub_metering_3' : 'float32'}).dropna()
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.839996,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630005,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.289993,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740005,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.679993,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.429993,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.000000,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.820007,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.699997,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.550003,3.8,0.0,0.0,0.0

In [60]:
df[df.Global_active_power > 5]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.630005,23.000000,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.289993,23.000000,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740005,23.000000,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.779999,23.200001,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990005,22.400000,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.150,231.500000,23.600000,48.0,0.0,0.0
2069357,22/11/2010,18:41:00,5.528,0.144,232.479996,24.600000,53.0,0.0,0.0
2071586,24/11/2010,07:50:00,5.172,0.050,235.179993,22.000000,0.0,38.0,17.0
2071587,24/11/2010,07:51:00,5.750,0.000,234.399994,24.600000,0.0,39.0,17.0
2072997,25/11/2010,07:21:00,5.074,0.240,238.550003,21.400000,1.0,2.0,18.0

In [61]:
df[df.Voltage > 235]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.679993,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020004,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.089996,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220001,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.240005,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.429993,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.000000,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.820007,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.699997,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.550003,3.8,0.0,0.0,0.0

In [62]:
df[(df.Global_intensity >= 19) & (df.Global_intensity <= 20) & (df.Sub_metering_2 > df.Sub_metering_3)]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,4.464,0.136,234.660004,19.000000,0.0,37.0,16.0
460,17/12/2006,01:04:00,4.582,0.258,238.080002,19.600000,0.0,13.0,0.0
464,17/12/2006,01:08:00,4.618,0.104,239.610001,19.600000,0.0,27.0,0.0
475,17/12/2006,01:19:00,4.636,0.140,237.369995,19.400000,0.0,36.0,0.0
476,17/12/2006,01:20:00,4.634,0.152,237.169998,19.400000,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,24/11/2010,07:53:00,4.666,0.000,235.720001,19.799999,0.0,39.0,17.0
2071590,24/11/2010,07:54:00,4.694,0.000,236.779999,19.799999,0.0,39.0,18.0
2071591,24/11/2010,07:55:00,4.602,0.000,237.080002,19.400000,0.0,40.0,17.0
2071592,24/11/2010,07:56:00,4.536,0.000,237.029999,19.000000,0.0,39.0,17.0
2071593,24/11/2010,07:57:00,4.626,0.000,236.779999,19.400000,0.0,39.0,17.0

In [63]:
%timeit df_samp = df.sample(500000)
df_samp

219 ms Â± 29.7 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
190148,27/4/2007,18:32:00,0.376,0.000,236.139999,1.6,0.0,0.0,0.0
357758,22/8/2007,04:02:00,0.284,0.236,240.550003,1.4,0.0,0.0,0.0
1730184,1/4/2010,05:48:00,0.416,0.214,241.789993,1.8,0.0,1.0,1.0
42604,15/1/2007,07:28:00,1.852,0.106,237.690002,7.8,0.0,0.0,18.0
1633885,24/1/2010,08:49:00,0.286,0.000,242.750000,1.2,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1315801,17/6/2009,11:25:00,0.294,0.124,242.070007,1.2,0.0,1.0,1.0
1860475,30/6/2010,17:19:00,1.470,0.602,240.860001,6.6,0.0,1.0,0.0
1374808,28/7/2009,10:52:00,0.460,0.110,240.240005,2.0,0.0,2.0,0.0
1375311,28/7/2009,19:15:00,2.136,0.212,238.440002,9.2,0.0,28.0,1.0
1601804,2/1/2010,02:08:00,0.358,0.174,247.020004,1.6,0.0,0.0,1.0

In [64]:
df_samp[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()

Sub_metering_1    1.123930
Sub_metering_2    1.298154
Sub_metering_3    6.473556
dtype: float32

In [65]:
df_ch = df[(df.Time >= str(18)) & (df.Global_active_power > 6) & (df.Sub_metering_2 > df.Sub_metering_1) & (df.Sub_metering_2 > df.Sub_metering_3)]
df_ch

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,16/12/2006,18:05:00,6.052,0.192,232.929993,26.200001,0.0,37.0,17.0
42,16/12/2006,18:06:00,6.752,0.186,232.119995,29.000000,0.0,36.0,17.0
43,16/12/2006,18:07:00,6.474,0.144,231.850006,27.799999,0.0,37.0,16.0
44,16/12/2006,18:08:00,6.308,0.116,232.250000,27.000000,0.0,36.0,17.0
71,16/12/2006,18:35:00,6.072,0.000,232.479996,26.400000,0.0,27.0,17.0
...,...,...,...,...,...,...,...,...,...
2066480,20/11/2010,18:44:00,6.374,0.392,228.520004,28.200001,15.0,36.0,16.0
2066481,20/11/2010,18:45:00,6.564,0.430,228.429993,29.000000,13.0,40.0,16.0
2066482,20/11/2010,18:46:00,6.438,0.308,229.259995,28.400000,13.0,39.0,16.0
2066485,20/11/2010,18:49:00,6.210,0.174,228.820007,27.400000,21.0,34.0,17.0
2066488,20/11/2010,18:52:00,6.364,0.126,229.380005,28.200001,17.0,34.0,16.0

In [66]:
df_ch[0 : int(len(df_ch)/2 + 1)].iloc[::3]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,16/12/2006,18:05:00,6.052,0.192,232.929993,26.200001,0.0,37.0,17.0
44,16/12/2006,18:08:00,6.308,0.116,232.250000,27.000000,0.0,36.0,17.0
17494,28/12/2006,20:58:00,6.386,0.374,236.630005,27.000000,1.0,36.0,17.0
17498,28/12/2006,21:02:00,8.088,0.262,235.500000,34.400002,1.0,72.0,17.0
17501,28/12/2006,21:05:00,7.230,0.152,235.220001,30.600000,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
666904,23/3/2008,20:28:00,7.268,0.192,233.610001,31.000000,0.0,72.0,17.0
666907,23/3/2008,20:31:00,6.958,0.188,233.619995,29.799999,0.0,73.0,17.0
666910,23/3/2008,20:34:00,6.668,0.180,233.649994,28.400000,0.0,73.0,17.0
695575,12/4/2008,18:19:00,6.568,0.394,237.699997,27.600000,34.0,36.0,18.0
707257,20/4/2008,21:01:00,8.084,0.288,232.559998,34.599998,1.0,71.0,18.0

In [67]:
df_ch[int(len(df_ch)/2 + 1) : int(len(df_ch) - 1)].iloc[::4]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
707260,20/4/2008,21:04:00,7.756,0.348,232.110001,33.400002,1.0,72.0,17.0
707264,20/4/2008,21:08:00,6.366,0.368,232.970001,27.400000,2.0,37.0,18.0
707268,20/4/2008,21:12:00,6.378,0.300,232.960007,27.400000,1.0,36.0,17.0
707285,20/4/2008,21:29:00,7.486,0.288,232.000000,32.200001,34.0,37.0,17.0
747547,18/5/2008,20:31:00,7.782,0.280,234.419998,33.400002,1.0,72.0,27.0
...,...,...,...,...,...,...,...,...,...
2066467,20/11/2010,18:31:00,6.830,0.394,229.389999,30.200001,24.0,34.0,16.0
2066471,20/11/2010,18:35:00,6.784,0.364,228.380005,30.000000,21.0,35.0,16.0
2066475,20/11/2010,18:39:00,6.362,0.372,229.830002,28.000000,16.0,35.0,16.0
2066479,20/11/2010,18:43:00,6.324,0.376,229.929993,27.799999,14.0,35.0,17.0
2066485,20/11/2010,18:49:00,6.210,0.174,228.820007,27.400000,21.0,34.0,17.0

In [68]:
df['Date'] = pd.to_datetime(df['Date'].astype('str'), format = "%d/%m/%Y")

In [69]:
df['Date']

0         2006-12-16
1         2006-12-16
2         2006-12-16
3         2006-12-16
4         2006-12-16
             ...
2075254   2010-11-26
2075255   2010-11-26
2075256   2010-11-26
2075257   2010-11-26
2075258   2010-11-26
Name: Date, Length: 2049280, dtype: datetime64[ns]

In [70]:
df[df.Date > '2007-4-3'].Voltage.max()

254.14999389648438